In [7]:
import pandas as pd

# Example file path, modify it according to your file location
file_path = "CourtsAndParksData.csv"

# Read the CSV file
file = pd.read_csv(file_path)

file.head(100)

,_id,id,name,type,park,location,surface_material,grandstand,inactive,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1,1592343416,Allegheny Commons Basketball Court 1,Basketball (Full),Allegheny Commons,NaN,NaN,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.454443,-80.008104
1,2,1365248699,Allegheny Commons Park Tennis Court 1,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452400,-80.012531
2,3,1757180821,Allegheny Commons Park Tennis Court 2,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452238,-80.012150
3,4,744303307,Allegheny Commons Park Tennis Court 3,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452075,-80.011767
4,5,1157777481,Alton Park Basketball Court 1,Basketball (Half),Alton Park,NaN,Asphalt,0,f,Beechview,4,19,42003191600,5,19,6,4-28,40.414152,-80.022305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1271269929,Highland Park Flynn Parklet Basketball Court 1,Basketball (Half),Highland Park,NaN,Asphalt,0,f,Highland Park,7,11,42003110200,2,11,5,3-9,40.478829,-79.918815
96,97,63568209,Highland Park Flynn Parklet Basketball Court 2,Basketball (Half),Highland Park,NaN,Asphalt,0,f,Highland Park,7,11,42003110200,2,11,5,3-9,40.478763,-79.918631
97,98,1563856270,Highland Park Flynn Parklet Hockey Court 1,Street Hockey,Highland Park,NaN,Asphalt,0,f,Highland Park,7,11,42003110200,2,11,5,3-9,40.478650,-79.918818
98,99,396643617,Highland Park Flynn Parklet Tennis Court 1,Tennis,Highland Park,NaN,Asphalt,0,f,Highland Park,7,11,42003110200,2,11,5,3-9,40.479078,-79.918682
99,100,85673244,Highland Park Flynn Parklet Tennis Court 2,Tennis,Highland Park,NaN,Asphalt,0,f,Highland Park,7,11,42003110200,2,11,5,3-9,40.479015,-79.918492

In [ ]:
neighborhood_counts = file.groupby('neighborhood').size().reset_index(name='count')
neighborhood_counts = neighborhood_counts.sort_values(by='count', ascending=True)

colors = plt.cm.tab20b.colors
ax = neighborhood_counts.plot(kind='barh', x='neighborhood', y='count', figsize=(10, 20), color=colors)

for index, value in enumerate(neighborhood_counts['count']):
    ax.text(value, index, str(value), ha='left', va='center')
    
plt.title('Count of Park')
plt.xlabel('Count')
plt.ylabel('Neighborhood')
plt.show()